<title> CS302 -- Lab Practice Assignment</title>

<h1> CS302 -- Lab Practice Assignment (0 pts: Spring, 2018)</h1>

<hr>
<h3>Getting motivated</h3>
Your first cs302 lab is not till Jan 22, 2018. Here is a
practice assignment that you can work on in the meantime.
You should find it easy to do. If not, ask your friends
or the friendly TAs for help during their office hours.
<p>

<hr>
<h3>Lab submission and due date</h3>
There is nothing to sutbmit and no due date. This is for
you to do on your own. Solution codes are supplied that
you can compare against.
<p>

You do this practice assignment on your own computer or 
remote login to hydra. Ultimately, you need to make sure
your programs run on hydra as that's where they will be 
graded.
<p>

<hr>
<h3>Sums and Products</h3>

<u>SETUP:</u>
Each day,
the folks at Knoxville Zoo buy a lot of fruit for the animals.
Management would like to know how many units
of the different types of fruit are purchased and at what cost. 
Fruits sold by weight are listed separately from those sold by count. 
Your job is write a progressive sequence of five C++ programs that 
solve the problem for these two categories of data.
<p>

The real task, of course, is to get you back in the programming
saddle before we get deep into new data structures and algorithms.
Those of you not used to "word problems" will also gain some
experience deciphering what lab assignments ask you to do.
<p>

<u>FILES:</u>
Run the script /home/cs302/labs/lab_practice/copy 
to obtain five Linux
executables called fruit_v1-5 as well as a collection of data
files called fbw_size.txt or fbc_size.txt where fbw is short for 
fruit-by-weight, fbc is short of fruit-by-count, and size is either 
small, medium or large. 
Each file contains a somewhat random number of lines. Each
line consists of a fruit name, a weight or a count, and a per-unit
price. Weights are fractional numbers while counts are integers.
<p>

<h3>What Needs to be Done</h3>

<u>BIG PICTURE:</u>
The first four of the five programs all read an 
input file, process the data and print the total amount 
of fruit and the total price paid to stdout. 
The fifth program summarizes the amount and subtotal
price paid for each fruit before reporting the total 
amount and price paid like the other programs.
<p>

The total amount of fruit is merely the sum of the weights or 
counts as they appear in the input data. The total price paid
is the sum of weight or count times per-unit price. Subtotals
work the same way.
Use float variables to store and compute amounts, weights
and prices.
<p>

<u>DETAILS:</u>
Each program must go in its own file aptly named 
"Fruit_vX.cpp" where X equals 1, 2, 3, 4, or 5. Do not create
header files. Make each program file self-contained. Details
follow outlining what exactly needs to be done. 
<p>

<UL>

<LI>
X=1:
Read a data file from stdin using a while loop. Compute and
print the total amount and total price numbers to stdout.
<p>

<LI>
X=2:
Modify the code to have the while loop reading the data and 
computing the totals wrapped in a function called
"compute_total". This function takes no arguments and
returns the total amount and total price numbers in a
struct called "ap_pair" that you must declare. 
Modify "main" to have it
first call "compute_total", then print the totals
to stdout as before using the struct members.
<p>

<LI>
X=3:
Modify "main" to check for a required command-line argument
specifying which data file to read. If no argument is given, 
a usage message is printed to stderr before the program 
exits.
<p>

Modify "compute_total" to take the input file name as a
required argument. The corresponding file is then opened,
read from, and closed. The actual data processing is 
unchanged.

<LI> 
X=4:
Create a class called APC which works as follows.
The constructor opens a data file specified upon instantiation
and initializes private member data as appropriate. 
The destructor closes the file. 
Public member function "compute_total" is
the standalone function of the same name from before without
the file opening and closing.
Public member function "print_total" implements the
reporting of total amount and total price.
<p>

Modify "main" to have the command-line argument check
be followed by instantiation of an APC object and
a call to the two member functions.
<p>

<LI>
X=5:
Modify the APC class to create a summary of
the input data on a per fruit basis which is printed
to stdout prior to the total amount and total price.
Achieve this goal as follows. 
<p>

Update the "ap_pair" to allow member data to be
initialized to given values upon instantiation. 
Overload "operator+=" to have it add the member data 
values of a righthand side argument to the member
data values of the present object.
<p>

Add an "std::map" to the APC class. Update "compute_total"
to read new item amount and price data into an
"ap_pair" which is the inserted into the "map" using
the name of the new item. That is, the underlying
binary search tree is ordered by item name. Each name
has an "ap_pair" associated with it that gets updated
to hold the subtotal amount and price for that item.
When you encounter a new type of fruit, 
initialize the subtotal amount and price
to the values for the new item.
When you encounter a type of fruit you have seen before, 
increase the subtotal amount and price by the values for 
the new item. This is where the overloaded "operator+="
gets used.
Accumulate the total amount and total price as you 
add new items. This too uses the overloaded "operator+=".
<p>

Rename "print_total" to "print_summary" and have this 
new version go thru an iterator based
traversal of the map to produce an
alphabetized summary of subtotal amounts. 
When the map has been exhausted, print the total
amount and price.
Print all data to stdout in a two-column format as shown
below. 
<p>

<LI>
Recreate the formatting shown in the example output
listed below for all your programs once they compute the
right numbers.

<LI>
For Fruit_v5, CS307 students must introduce and
use two private member functions called
"print_text" and "print_number" that control how
text and data is printed by "print_summary".
The alternative is not-so-readable code with width 
and precision control scattered through-out. 

</UL>

<hr>
<h3>Data and executable output examples</h3>

<b>fbw_small.txt (abbr)</b>
<pre>
plantains         0.56     1.44
cherries          1.48     4.81
grapes_white      1.15     3.77
bananas           0.95     0.72
apples_fuji       2.00     1.69
...
</pre>

<b>fbc_small.txt (abbr)</b>
<pre>
oranges_naval      4     0.99
pineapples         9     4.25
raspberries        6     3.25
blackberries       7     2.50
blackberries       1     2.50
...
</pre>

<hr>

<b>fruit_v1 [and fruit_v2]</b>
<pre>
user> ./fruit_v1 < fbw_small.txt
total amount = 13.28
total price  = 25.62
</pre>

<pre>
user> ./fruit_v1 < fbc_small.txt
total amount = 65
total price  = 178.09
</pre>
<hr>

<b>fruit_v3 [and fruit_v4]</b>
<pre>
user> ./fruit_v3 fbw_small.txt
total amount = 13.28
total price  = 25.62
</pre>

<pre>
user> ./fruit_v3 fbc_small.txt
total amount = 65
total price  = 178.09
</pre>

<hr>

<b>fruit_v5</b>
<pre>
user> ./fruit_v5 fbw_small.txt
apples_fuji       2.63	   4.44
apples_gala       1.79	   1.95
apples_jazz       0.95	   2.08
apricots          1.33	   1.65
bananas           1.99	   1.43
cherries          1.48	   7.12
grapes_white      1.15	   4.34
pears_bosc        1.40	   1.81
plantains         0.56	   0.81

totals           13.28	  25.62
</pre>

<pre>
user> ./fruit_v5 fbc_small.txt
blackberries      8.00	  20.00
blueberries      20.00	  50.00
kiwis             6.00	   2.94
oranges_naval     4.00	   3.96
pineapples        9.00	  38.25
raspberries      12.00	  39.00
strawberries      6.00	  23.94

totals           65.00	 178.09
</pre>
<hr>

<h3>Grading rubric</h3>
N/A

<hr>
Thu Jan  4 14:56:58 EST 2018
