<title> CS302 -- Lab Assignment 5</title>
<style> p.page { page-break-after: always; } </style>

<h1> CS302 -- Lab Assignment 4 (200 pts: Spring 2018)</h1>

<hr>
<h3>Getting motivated</h3>
ACME Shipping needs your help! They have obtained the rights
to fly their planes into a number of cities across the 
world. 
Use your newly acquired knowledge about graphs to write
a program called "citysim" that can tell ACME Shipping 
what the shortest valid
route is between any two cities. 
<p>

<hr>
<h3>Lab submission and due date</h3>

Submit your work via Canvas no later than
9:59am Monday March 19, 2018.
You submit only one file called Citysim.cpp.
The incremental development outlined below is merely
intended to walk you through the process of completing
the assignment.
CS307 students will write additional code as outlined
below.
<p>

<b>
While it may seem like you have a long time to do this
assignment, keep in mind that Spring Break is the week 
before the due date. Thus, you only have
two weeks to get the job done. 
Make sure you have
code that compiles and does at least part of the
assignment, if not all of it by the due date.
</b>

<hr>
<h3>Getting started and what you need to do</h3>

To help you get started,
run the Hydra script
/home/cs302/labs/lab4/copy to obtain the following files:
citysim (Hydra solution executable), 
citylist.txt (input data),
Citysim.cpp (skeleton code), and a makefile.
Your job is to write the citysim program
and make it behave as described next.
<p>

While you have some design freedom,
you must base your code on the classes
and functions discussed next.
How you tie them all together is up to you.
Also,
floating-point computations should be done
using floats, not doubles. Most math functions
take and produce doubles. That's fine. Feed
them floats and assign the output to floats.
<p>

<b>
Please raise concerns about assignment
inconsistencies or unspoken design criteria on
Piazza.com sooner rather than later so that
clarifications can be shared with the class
as early as possible in the two week window before
Spring Break.
</b>
<p>

You might find it helpful to take a glance at the 
citylist.txt snippet included below before you continue
reading.
<p>

<UL>
<LI>
<b>Citysim1</b> should implement a city class that
stores the name (string), type (string), 
zone (int),
latitude (float), longitude (float) and
population (int). Make these variables
private data members. Add get_variable()
functions for each variable.
Overload the input and output operators to
facilitate
"fin &gt;&gt; city" and 
"fout &lt;&lt; city"
type code. 
The city type is either REGIONAL or GATEWAY. 
We discuss these in more detail below.
<p>

Next, implement function read_cityinfo() 
which reads
the "citylist.txt" file in the current directory
into a vector&lt;city&gt; array using the overloaded
city input operator.
Empty lines or lines that begin with a hash symbol
(#) should be ignored. 
Also implement function write_cityinfo() which
writes the contents of 
the vector&lt;city&gt; array to a file
called "cityinfo.txt" in the current directory
if the program is
given a "-write_info" option on the
commandline. See below for example output.
The name field is 20 characters wide. The type
and population fields are 12 and 10 characters wide,
respectively. The zone is 2 characters wide.
The latitude and longitude fields
are 8 characters wide and the output is restricted
to two decimal places.
<p>

Note: The latitude and longitude values are
in degrees in citylist.txt and should be in
degrees in cityinfo.txt. 
However, your program will need them to be 
in radians for internal use.
Perform the necessary conversion when you
read and write these variables. Recall
that radians=degrees*(pi/180) and
degrees=radians*(180/pi).
<p>

<LI>
<b>Citysim2</b> should implement a dtable class
which computes and contains a table
of distances between all cities.
Since the distance from A to B is the 
same as from B to A, store this table
in a 1D array that holds the diagonal and
lower triangle of the full distance matrix;
you don't need the diagonal but including it simplifies
the implementation (cf. the answerkey for Exam 1).
Overload the function operator so you can
exploit the distance symmetry and 
return the same value for
distance(i,j) as for distance(j,i) by
looking the appropriate value in the 1D array.
Hint: Have the overloaded function operator swap
arguments i and j if i &lt;j before doing a lookup.
<p>

Use the great-circle distance when computing
the distance between two cities. This
is the shortest distance between them on a sphere
representing the Earth which
we will assume has a radius of 3982 miles. 
Don't try to be clever and use a more accurate 
radius as it will throw your output off relative to the
solution code. 
Also, use the Haversine Formula 
for your computation.
<p>

See 
<a href="http://en.wikipedia.org/wiki/Great-circle_distance"
TARGET="_blank">http://en.wikipedia.org/wiki/Great-circle_distance</a>
for mathematical details. 
<p>

Round the distances to the closest 5.0 mile distance. 
This will make it easier to compare your distances with those
produced by the solution code.
Hint: Set distance = 5.0*round(distance/5.0).
<p>

Next, implement function write_citydtable()
which writes the contents of the distance
table to a file called "citydtable.txt"
in the current directory
if the program is
given a "-write_dtable" option on the
commandline. See below for example output. 
Your output must match the layout. 
Hint: The width of the text string is 2*w+4 where
w is the length of the longest city name. Use
setfill() to create the ellipses.
<p>

<LI>
<b>Citysim3</b>
should implement function create_citygraph()
which determines which cities are adjacent to
one another (connected) thereby implicitly creating a
graph. The rules for adjacency are as follows.
<p>

-- A REGIONAL city is adjacent to all other REGIONAL cities 
in the same zone. A REGIONAL city is also adjacent to the 
closest GATEWAY city in the same zone.
<p>

-- A GATEWAY city is adjacent to all other GATEWAY cities
in the same zone. A GATEWAY city is also adjacent to the
closest GATEWAY in each of other zone if the distance
is 6,000 miles or less.
<p>

-- In order to make the graph undirected, adjacency is
bidirectional. 
Thus, if A is adjacent to B, then B is also adjacent to A.
This can result in a GATEWAY city becoming connected with
multiple GATEWAY cities in another zone 
(see for example Cairo_EG below).
<p>

Hint: 
First extract an index list for each type of city.
Then iterate thru these lists following the above
rules. Use the indices to look up the pertinent
information in the vector&lt;city&gt; array discussed
above. In fact, think of these indices as pointers.
<p>

Next, implement function write_citygraph() 
which writes the adjacency information
to a file called "citygraph.txt" 
in the current directory if the program is
given a "-write_graph" option on the
commandline. See below for example output.
<p>

<LI>
<b>Citysim4</b> 
should add the ability to determine
the shortest path between any two cities
if the program is given either 
a "-mode_bfs" or a "-mode_dijkstra"
option on the commandline.
This is likely the easiest step of them all.
<p>

Embed the BFS (breadth-first search) distance algorithm
for determining the shortest unweighted source-to-sink path
in a function called bfs_route().
Use the path to calculate the distance travelled in miles. 
Hint: This requires that you keep track of the BFS moves.
<p>

Embed Dijkstra's algorithm 
for determining the shortest weighted source-to-sink path
in a function called dijktra_route(). 
Use the path to calculate the distance travelled in miles. 
Hint: If you separate this out into its function for the BFS
route, it can be reused for the Dijkstra route.
<p>

Update the main program to have
the user input an endless sequence of city pair names.
Compute and print the shortest route
distance from the first city to the second city.
If the "-mode_bfs" or "-mode_dijkstra" options are combined with
a "-show" option, 
the actually route from source to destination 
should also be printed.
See examples below.
<p>

In order to translate
the names into the indices used internally, have
the read_cityinfo() function create
a map that links the two: "index = map[name]".
This will allow fast lookup of an
index given a name. 
Also,
add the ability to input just
a partial name, e.g., "Knoxville" or even just "Knox"
for "Knoxville_TN". In case of ambiguity, choose the 
city name that follows the partial name in a
lexicographical order, e.g., 
"K" should produce "Kansas_City_KS" instead of
"Knoxville_TN" if present.
Run the solution code to determine the desired behavior.
Your code should function similarly. 
Hint: The STL algorithm map::upper_bound() can do 
the lookup for you.
<p>

<LI>
<b>CS307 ADDON</b> CS307 students must furthermore implement 
the ability to have the program select cities at random
when given a "*" instead of a city name.
<p>

The random number generator should be initialized
using "srand(seedvalue)" where the seedvalue is 0 by
default and the output of "time(NULL)" if a
"-randomseed" option is specified on the commandline.
The solution code byte swaps the seedvalue
to create more variation on the random numbers
Hint: char *byte = (char *)&amp;seedvalue;
swap(byte[0], byte[3]); swap(byte[1], byte[2]).
<p>

The random number generator should pick
city indices as follows. 
Select a zone in proportion to its population
relative to the total population. Then select
any one of the cites in that zone at random
(they are all equally likely at that point).
Hint: Prob(city) = (ZPOP/TPOP)*(1/ZNUM) where
ZPOP = zone_population(city), 
TPOP = total_population, and
ZNUM = number of cities in zone(city).
<p>

<LI>
See
<a href="http://web.eecs.utk.edu/~jgregor/cs302/citysim.html"
TARGET="_blank">http://web.eecs.utk.edu/~jgregor/cs302/citysim.html</a>
for a Google map with the city graph displayed.
You can pan and zoom using the mouse directly or the little
control pad in the upper left hand corner. 
The trajectories stand out more clearly on the map than the
satellite data.
<p>

</UL>

<hr>
<p class="page"></p>
<h3>Input file: citylist.txt (abbreviated) </h3>
<pre>
unix> cat citylist.txt
# AFRICA Zone 1
1 Cairo_EG GATEWAY  30.058 31.229 17800000
1 Johannesburg_SA GATEWAY -26.204444 28.045556 7151500

# ASIA Zone 2
2 Beijing_CN REGIONAL 39.916667 116.383333 21700000
2 Hong_Kong_CN REGIONAL 22.3 114.2 7400000
2 Taipei_TW REGIONAL 25.066667 121.516667 8500000
2 Tokyo_JP GATEWAY 35.683333 139.766667 35000000
2 Seoul_KR REGIONAL 37.55 126.983333 24472000

[...]
</pre>

<hr>
<h3>Output file: cityinfo.txt (abbreviated) </h3>
<pre>
unix> ./citysim -write_info
unix> cat ./cityinfo.txt

CITY INFO (N=30):

  0 Cairo_EG            GATEWAY     1   17800000   30.06   31.23
  1 Johannesburg_SA     GATEWAY     1    7151500  -26.20   28.05
  2 Beijing_CN          REGIONAL    2   21700000   39.92  116.38
  3 Hong_Kong_CN        REGIONAL    2    7400000   22.30  114.20
  4 Taipei_TW           REGIONAL    2    8500000   25.07  121.52
  5 Tokyo_JP            GATEWAY     2   35000000   35.68  139.77
  6 Seoul_KR            REGIONAL    2   24472000   37.55  126.98

[...]
</pre>

<p class="page"></p>

<hr>
<h3>Output file: citydtable.txt (abbreviated) </h3>
<pre>
unix> ./citysim -write_dtable
unix> cat ./citydtable.txt

DISTANCE TABLE:

  1 Johannesburg_SA to Cairo_EG .......... 3915 miles

  2 Beijing_CN to Cairo_EG ............... 4715 miles
  2 Beijing_CN to Johannesburg_SA ........ 7315 miles

  3 Hong_Kong_CN to Cairo_EG ............. 5090 miles
  3 Hong_Kong_CN to Johannesburg_SA ...... 6700 miles
  3 Hong_Kong_CN to Beijing_CN ........... 1230 miles

  4 Taipei_TW to Cairo_EG ................ 5420 miles
  4 Taipei_TW to Johannesburg_SA ......... 7205 miles
  4 Taipei_TW to Beijing_CN .............. 1075 miles
  4 Taipei_TW to Hong_Kong_CN ............  505 miles

[...]
</pre>

<hr>
<h3>Output file: citygraph.txt (abbreviated) </h3>
<pre>
unix> ./citysim -write_graph
unix> cat ./citygraph.txt

CITY GRAPH:

  0 Cairo_EG
     1 Johannesburg_SA: 3915 miles
     5 Tokyo_JP: 5980 miles
     7 Bangalore_IN: 3195 miles
     9 Singapore_SG: 5160 miles
    13 London_UK: 2195 miles
    16 Frankfurt_DE: 1825 miles
    25 New_York_NY: 5640 miles

  1 Johannesburg_SA
     0 Cairo_EG: 3915 miles
     7 Bangalore_IN: 4315 miles
    16 Frankfurt_DE: 5435 miles
    28 Santiago_CL: 5735 miles
    29 Rio_de_Janeiro_BR: 4450 miles

  2 Beijing_CN
     3 Hong_Kong_CN: 1230 miles
     4 Taipei_TW: 1075 miles
     5 Tokyo_JP: 1315 miles
     6 Seoul_KR: 595 miles
     8 New_Delhi_IN: 2360 miles

  3 Hong_Kong_CN
     2 Beijing_CN: 1230 miles
     4 Taipei_TW: 505 miles
     6 Seoul_KR: 1305 miles
     8 New_Delhi_IN: 2355 miles
     9 Singapore_SG: 1615 miles

  4 Taipei_TW
     2 Beijing_CN: 1075 miles
     3 Hong_Kong_CN: 505 miles
     5 Tokyo_JP: 1315 miles
     6 Seoul_KR: 925 miles
     8 New_Delhi_IN: 2745 miles

[...]
</pre>

<p class="page"></p>

<hr>
<h3>Functionality: shortest path </h3>
<pre>
unix> ./citysim -mode_bfs
Enter> Knoxville_TN Singapore_SG
21 Knoxville_TN to  9 Singapore_SG : 11435 miles

unix> ./citysim -mode_bfs -show
Enter> Knoxville_TN Singapore_SG
       0 miles : 21 Knoxville_TN        
     635 miles : 25 New_York_NY              635 miles
    6275 miles :  0 Cairo_EG                5640 miles
   11435 miles :  9 Singapore_SG            5160 miles

unix> ./citysim -mode_dijkstra
Enter> Knoxville_TN Singapore_SG
21 Knoxville_TN to  9 Singapore_SG : 10845 miles

unix> ./citysim -mode_dijkstra -show (using abbreviated names)
Enter> Knoxville Singapore
       0 miles : 21 Knoxville_TN        
    1175 miles : 18 Denver_CO               1175 miles
    2015 miles : 22 Los_Angeles_CA           840 miles
    7520 miles :  5 Tokyo_JP                5505 miles
   10845 miles :  9 Singapore_SG            3325 miles

unix> ./citysim -mode_dijkstra -show (CS307 version)
Enter> Knoxville *
       0 miles : 21 Knoxville_TN        
    1175 miles : 18 Denver_CO               1175 miles
    2015 miles : 22 Los_Angeles_CA           840 miles
    7520 miles :  5 Tokyo_JP                5505 miles
    8835 miles :  4 Taipei_TW               1315 miles

Enter> * *
       0 miles :  0 Cairo_EG            
    3195 miles :  7 Bangalore_IN            3195 miles

unix> ./citysim -mode_dijkstra -randomseed -show (CS307 version)
Enter> Knoxville *
       0 miles : 21 Knoxville_TN        
    1175 miles : 18 Denver_CO               1175 miles
    2015 miles : 22 Los_Angeles_CA           840 miles
    7520 miles :  5 Tokyo_JP                5505 miles
    8245 miles :  6 Seoul_KR                 725 miles

Enter> * *
       0 miles :  2 Beijing_CN          
    1315 miles :  5 Tokyo_JP                1315 miles
    7150 miles : 16 Frankfurt_DE            5835 miles
    8060 miles : 11 Bucarest_RM              910 miles
</pre>

<hr>
<h3>Grading rubric</h3>

<b>Your code most compile and run free of 
segmentation faults
in order to be fully graded.</b>

<pre>
30: Reading citylist.txt into city objects using overloaded input operator, 
    and printing city object information to cityinfo.txt using overloaded 
	output operator
35: Creating dtable object and writing formatted output to citydtable.txt
35: Determining city adjacencies (graph edges) and writing formatted output 
    to citygraph.txt
30: Finding shortest BFS path between two cities and printing result to stdout
30: Finding shortest Dijkstra path between two cities and printing result to stdout
40: Writing main program that ties data structures and function calls together 
    to achieve overall functionality (CS307 extra assignment is part of this)
</pre>

<hr>
Sat Feb 24 09:41:33 EST 2018: Original version
<br>
Mon Feb 26 23:37:50 EST 2018: Adjacency rules updated for Citysim3
