<title> CS302 Spring 2018</title>

<h1> CS302 -- Lab Attendance</h1>
1. Lab attendance is mandatory in that you must check in with a TA in lab.
You do not need to stay for the duration of the lab. Some assignments may 
require that you prepare a solution sketch that you show when chekcing in. 
<p>

2. You are technically enrolled in a particular lab section. However, we will
aim to allow students to attend lab at the time of their choice. The lab is
scheduled to be open Monday 8.00-5.30 but this may change if nobody comes
early and/or nobody stays late.

<p>

<h1> CS302 -- Lab Grading Guidelines</h1>

<hr>
1. Labs must be submitted before midnight (11:59pm) on the assigned due
date. You have a TWO day grace period for late submissions. You may use
both days on one submission or apply them on two different submissions. 
Partial days are not considered. Missing the deadline costs a full day 
even if you only missed it by a few hours.
<p>

Grace days will be applied automatically on late submissions UNLESS YOU
STATE THAT YOU WOULD RATHER TAKE A PENALTY WHEN SUBMITTING THE LATE LAB.
Once the grace days have been used up, the following penalty will be 
incurred:
<p>

<UL>
<LI>
A lab submitted up to 24 hours late incurs a 25 percent point loss;
<LI>
A lab submitted up to 48 hours late incurs a 50 percent point loss;
<LI>
A lab submitted more than 48 hours late incurs a 100 percent point loss.
</UL>

Exceptions to the above apply only when prior arrangements have been made
with the instructor.
<p>

2. Lab submissions must consist of all files needed to compile the
executable(s) at the push of a button. Include a makefile only if
the one given to you doesn't do what's needed. Code that doesn't compile 
will likely not be graded and thus earn a score of 0. 
You should consequently develop your code incrementally so that you have 
something to submit that compiles.

<p>
3. Some of the points are awarded based on what the code does (whether 
it behaves correctly, produces the correct output, etc). 
Some of the points are awarded based on how the code works
(whether it is uses the proper data structures, algorithms, implementation
strategy, etc).

<p>
4. Cheating of any kind is not acceptable and will result in an F for the
course. The student at fault will also be reported to student conduct for
possible institutional disciplinary action (most likely dismissal from 
major).

<p>
5. The TAs have full discretion when it comes to grading labs. Students
that are unhappy with the grading of a lab should attempt to resolve the
issue with the TA in question. If this is not possible, the instructor
will arbitrate. Be aware that the result may be a loss of points as well
as a gain of points as a second look may uncover problems not noticed the
first time around.
<hr>
Thu Jan  4 14:25:46 EST 2018
